{% set base = site.url | replace(r/\/+$/, '') %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
  {% if item.url and (item.url.startsWith('/en/') or item.url.startsWith('/ru/')) and not item.url.endsWith('.html') %}
  <url>
    <loc>{{ item.url | absUrl(site.url) }}</loc>
  </url>
  {% endif %}
{% endfor %}
</urlset>
